
<div class="center hero-unit">
	<h1>Simulador de Procesos Industriales
	</h1>
	<h2>Si eres nuevo registrate o <%= link_to "inicia sesion",ingreso_path%>
	</h2>
	<%= link_to "registrate!",registro_path,class:"btn btn-large btn-primary"%>
</div>
<div class='logo.jpeg'>
	<%= link_to image_tag("logo.jpeg",alt:"Universidad Tecnologica Equinoccial"),'http://www.ute.edu.ec' %>
</div'>